In [2]:
import os 
import pandas as pd
import numpy as np
#import my_dir
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split as tts
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import r2_score, mean_absolute_error

In [3]:
file_path="\\Cars_Prediction"

In [4]:
os.getcwd()

'C:\\Users\\ayush\\OneDrive\\Desktop\\Carpred\\Notebooks'

In [3]:
os.chdir(os.getcwd()+file_path)

In [4]:
csv_list=os.listdir()

In [5]:
first_file=csv_list[0]

In [6]:
dataset=pd.read_csv(first_file)

In [8]:
cat_cols=[]
for i in dataset.columns:
    if dataset[i].dtypes=='O':
        cat_cols.append(i)

In [9]:
dataset["year"]=2020-dataset["year"]

In [10]:
dataset=pd.get_dummies(dataset,columns=['transmission','fuelType'],drop_first=True)

In [11]:
dataset.drop('model',axis=1,inplace=True)

In [17]:
x=dataset.drop("price",axis=1)
y=dataset.loc[:,"price"]

In [18]:
arr=[]
for numeric_cols in x.columns:
    if x[numeric_cols].dtypes=='float' or x[numeric_cols].dtypes=='int64':
        arr.append(numeric_cols)

In [19]:
scaler = MinMaxScaler()
scaled_df = scaler.fit_transform(x[arr])
x[arr] = pd.DataFrame(scaled_df)

In [20]:
scaled_df_y=scaler.fit_transform([y])

In [21]:
x_train,x_test,y_train,y_test=tts(x,y,train_size=0.2)

In [22]:

rf=RandomForestRegressor()
lr=rf.fit(x_train,y_train)
y_pred=rf.predict(x_test)

In [23]:
r2_score(y_test,y_pred)

0.9038230526983557

In [24]:
mean_absolute_error(y_test,y_pred)

2054.9912865065417

# combined Model

In [7]:
import glob
extension = 'csv'

In [9]:
final_df=pd.DataFrame()
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
#combine all files in the list
for f in all_filenames:
    a=pd.read_csv(f)
    a["Company"]=f[:-4]
    final_df=final_df.append(a)

In [10]:
final_df.isnull().sum()

model                0
year                 0
price                0
transmission         0
mileage              0
fuelType             0
tax              14213
mpg               9353
engineSize           0
Company              0
tax(£)          103680
dtype: int64

In [11]:
final_df.corr()

,year,price,mileage,tax,mpg,engineSize,tax(£)
year,1.000000,0.497094,-0.743455,0.192472,-0.132791,-0.044891,0.271535
price,0.497094,1.000000,-0.427944,0.309715,-0.296429,0.631580,0.321028
mileage,-0.743455,-0.427944,1.000000,-0.221361,0.185657,0.108246,-0.205910
tax,0.192472,0.309715,-0.221361,1.000000,-0.451656,0.281768,NaN
mpg,-0.132791,-0.296429,0.185657,-0.451656,1.000000,-0.248210,-0.451991
engineSize,-0.044891,0.631580,0.108246,0.281768,-0.248210,1.000000,0.224927
tax(£),0.271535,0.321028,-0.205910,NaN,-0.451991,0.224927,1.000000

In [12]:
final_df.drop(labels=["tax(£)","mpg","tax","model"],inplace=True,axis=1)

In [13]:
final_df.isnull().sum()

year            0
price           0
transmission    0
mileage         0
fuelType        0
engineSize      0
Company         0
dtype: int64

In [14]:
final_df=pd.get_dummies(final_df,columns=['transmission','fuelType'],drop_first=True)

In [15]:
company_dict=final_df.groupby(["Company"])["price"].mean().to_dict()

In [16]:
final_df["company_wrt_price"]=final_df["Company"].map(company_dict)
final_df.drop("Company",axis=1,inplace=True)

In [17]:
x=final_df.drop("price",axis=1)
y=final_df.loc[:,"price"]

In [18]:
x["year"]=2020-x["year"]

In [19]:
x_train,x_test,y_train,y_test=tts(x,y,train_size=0.2)

In [20]:
x_train

,year,mileage,engineSize,transmission_Manual,transmission_Other,transmission_Semi-Auto,fuelType_Electric,fuelType_Hybrid,fuelType_Other,fuelType_Petrol,company_wrt_price
11592,2,28825,1.4,1,0,0,0,0,0,1,16838.952365
10656,3,28464,1.4,1,0,0,0,0,0,1,10406.457893
5764,2,9500,1.0,1,0,0,0,0,0,1,12279.756415
6663,1,8967,2.8,0,0,1,0,0,0,0,12522.391066
3050,3,28411,2.0,1,0,0,0,0,0,0,22896.685039
...,...,...,...,...,...,...,...,...,...,...,...
1823,6,15781,1.3,1,0,0,0,0,0,1,12522.391066
6430,1,5499,2.0,0,0,1,0,0,0,1,22733.408867
4635,4,27198,1.0,1,0,0,0,0,0,1,12522.391066
6306,1,7312,2.0,0,0,0,0,0,0,1,22733.408867
5230,1,13891,1.0,1,0,0,0,0,0,1,13581.958379

In [21]:
company_dict

{'audi': 22896.685039370077,
 'bmw': 22733.408867452,
 'cclass': 23674.28699666581,
 'focus': 13581.95837917125,
 'ford': 12279.756415251879,
 'hyundi': 12750.131069958848,
 'merc': 24698.596920496988,
 'skoda': 14275.449337801181,
 'toyota': 12522.3910655981,
 'vauxhall': 10406.457893192488,
 'vw': 16838.952365243782}

In [25]:
rf=RandomForestRegressor()
rf=rf.fit(x_train,y_train)
y_pred=rf.predict(x_test)

In [26]:
r2_score(y_test,y_pred)

0.8509321023626728

In [27]:
mean_absolute_error(y_test,y_pred)

2212.9496756634135

In [29]:
import pickle
# open a file, where you ant to store the data
filename = 'car_model.sav'
pickle.dump(rf, open(filename, 'wb'))

In [30]:
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(x_test, y_test)
print(result)

0.8509321023626728